{:paths ["src" "res" "vendor"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3" :mvn/scope "provided"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}

  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.3"}}}

  :dev {:extra-paths ["test"]
        :extra-deps {virgil/virgil {:mvn/version "0.4.0"}}
        :jvm-opts ["-Djdk.attach.allowAttachSelf"]}

  :test {:extra-paths ["test" "target/classes"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                            :git/sha "dfb30dd"}}
         :exec-fn cognitect.test-runner.api/test
         :jvm-opts ["-Djdk.attach.allowAttachSelf" "-Dclj-async-profiler.debug"]}}}
