version: 2.1

jobs:
  test:
    parameters:
      docker-image:
        type: string
      clj-version:
        type: string
        default: "1.11"
      is-alpine:
        type: boolean
        default: false
    working_directory: ~/project
    docker:
      - image: << parameters.docker-image >>
    steps:
      - checkout
      - restore_cache:
          key: project-{{ checksum "deps.edn" }}
      - when:
          condition: << parameters.is-alpine >>
          steps:
            - run: apk add --no-cache libstdc++
      - run: >-
           clojure -T:build test :clj :<< parameters.clj-version >>
           :jvm-opts '["-Dclj-async-profiler.debug"]'
      - save_cache:
          paths:
            - ~/.m2
          key: project-{{ checksum "deps.edn" }}

workflows:
  test_all_jdks:
    jobs:
      - test:
          matrix:
            parameters:
              docker-image:
                - clojure:openjdk-8-bullseye
                - clojure:openjdk-11-bullseye
                - clojure:temurin-17-jammy
                - clojure:temurin-20-jammy
              clj-version: ["1.10", "1.11", "1.12"]
      - test:
          name: test-alpine
          docker-image: clojure:temurin-8-alpine
          is-alpine: true
